# Ensemble Learning

## Initial Imports

In [9]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [11]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [12]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [15]:
# Create our features
X = df.drop(columns="loan_status")
X = pd.get_dummies(X, drop_first=True)
# Create our target
y = df["loan_status"]

In [16]:
X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,issue_d_Jan-2019,issue_d_Mar-2019,initial_list_status_w,next_pymnt_d_May-2019,application_type_Joint App
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,0,0,1,1,0,0,1,1,1,0
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,0,0,0,1,0,1,1,1,0
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,0,0,0,1,0,1,1,1,0
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,0,0,1,0,1,0,1,1,1,0
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,0,0,0,0,0,1,1,1,0

In [17]:
# Check the balance of our target values
y.value_counts() # imbalanced data

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [19]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [20]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [21]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [22]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [27]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100)
brf.fit(X_train_scaled,y_train)

BalancedRandomForestClassifier()

In [28]:
pred_brf = brf.predict(X_test_scaled)

In [30]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, pred_brf)

0.7626842293806642

In [31]:
# Display the confusion matrix
cm = confusion_matrix(y_test, pred_brf)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
cm_df

          Predicted 0  Predicted 1
Actual 0           58           34
Actual 1         1798        15315

In [34]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, pred_brf))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.63      0.89      0.06      0.75      0.55        92
   low_risk       1.00      0.89      0.63      0.94      0.75      0.58     17113

avg / total       0.99      0.89      0.63      0.94      0.75      0.58     17205

In [38]:
# List the features sorted in descending order by feature importance
importances = brf.feature_importances_
ind = np.argsort(importances)[::-1]

for i in range(X.shape[1]):
    print(f"{X.columns.values[ind[i]]}: ({importances[ind[i]]})")

total_rec_prncp: (0.07282088054963548)
last_pymnt_amnt: (0.06889050256728431)
total_pymnt: (0.06191121869095535)
total_rec_int: (0.05344772695215477)
total_pymnt_inv: (0.053345220214353464)
int_rate: (0.03006066846090651)
issue_d_Jan-2019: (0.02484013757386877)
mo_sin_old_rev_tl_op: (0.0196880152819534)
dti: (0.0180900549948642)
annual_inc: (0.016978379647974096)
installment: (0.016908530325452625)
out_prncp_inv: (0.0168309324345653)
bc_util: (0.01640398305454787)
out_prncp: (0.015327523378786557)
total_bal_il: (0.01512852617359577)
bc_open_to_buy: (0.015107438084722665)
il_util: (0.015100096851138625)
avg_cur_bal: (0.015024323367846678)
revol_bal: (0.014522362544943232)
total_rev_hi_lim: (0.014112145415199378)
mo_sin_old_il_acct: (0.013971754036867965)
tot_hi_cred_lim: (0.013214346959018453)
mths_since_recent_inq: (0.013213254367406306)
max_bal_bc: (0.013108006026851433)
loan_amnt: (0.012578648313753603)
total_il_high_credit_limit: (0.012444244911605716)
total_bc_limit: (0.012161423202542602)
total_rec_late_fee: (0.012083915918489289)
mths_since_recent_bc: (0.011813850443544108)
all_util: (0.011508159575914693)
num_sats: (0.01146896708365109)
total_bal_ex_mort: (0.011184540991042144)
tot_cur_bal: (0.011113971029372078)
total_acc: (0.010969447984668087)
issue_d_Mar-2019: (0.010170524647612814)
num_actv_rev_tl: (0.010059845525017718)
num_op_rev_tl: (0.009960515985532499)
num_rev_tl_bal_gt_0: (0.009950180347111056)
mths_since_rcnt_il: (0.009949193844918554)
inq_last_6mths: (0.009889696562905469)
pct_tl_nvr_dlq: (0.009654728902081458)
open_acc: (0.009640694005738831)
num_il_tl: (0.009479869831939578)
num_bc_tl: (0.009404062764591329)
num_rev_accts: (0.009184266780256446)
mo_sin_rcnt_rev_tl_op: (0.008999124861086623)
inq_last_12m: (0.008949054839812743)
mo_sin_rcnt_tl: (0.008728470037306073)
inq_fi: (0.008356007550964502)
acc_open_past_24mths: (0.007459950789966427)
num_actv_bc_tl: (0.00740978591402849)
num_tl_op_past_12m: (0.007075584157796069)
percent_bc_gt_75: (0.006786214214817468)
total_cu_tl: (0.006558003704561433)
open_act_il: (0.006274651039784728)
open_rv_24m: (0.006172479716914831)
open_il_24m: (0.006016602870494917)
open_rv_12m: (0.005998986056693069)
num_bc_sats: (0.005658384091587821)
delinq_2yrs: (0.005390482250606918)
mort_acc: (0.005323440776370242)
next_pymnt_d_May-2019: (0.005320881063514532)
open_acc_6m: (0.004961111674849096)
num_accts_ever_120_pd: (0.00396505080833587)
tot_coll_amt: (0.0035134700123379136)
open_il_12m: (0.002592477443908008)
verification_status_Verified: (0.00201979389443815)
verification_status_Source Verified: (0.0018559063695849723)
home_ownership_OWN: (0.001562184265966106)
pub_rec_bankruptcies: (0.001536648126678386)
home_ownership_RENT: (0.0015074666181479185)
pub_rec: (0.0014992707143471817)
home_ownership_MORTGAGE: (0.0014578326160767762)
application_type_Joint App: (0.0014078771453385748)
initial_list_status_w: (0.0013877258178733106)
num_tl_90g_dpd_24m: (0.0009802682325732353)
collections_12_mths_ex_med: (0.0004955690094948622)
chargeoff_within_12_mths: (6.246670656053777e-05)
delinq_amnt: (0.0)
tax_liens: (0.0)
recoveries: (0.0)
collection_recovery_fee: (0.0)
policy_code: (0.0)
num_tl_30dpd: (0.0)
num_tl_120dpd_2m: (0.0)
acc_now_delinq: (0.0)

### Easy Ensemble Classifier

In [39]:
from imblearn.ensemble import EasyEnsembleClassifier
# Train the Classifier
eec = EasyEnsembleClassifier(n_estimators=100)
eec.fit(X_train_scaled,y_train)

EasyEnsembleClassifier(n_estimators=100)

In [41]:
# Calculated the balanced accuracy score
pred_eec = eec.predict(X_test_scaled)
balanced_accuracy_score(y_test,pred_eec)

0.9293205140256962

In [43]:
# Display the confusion matrix
cm1 = confusion_matrix(y_test, pred_eec)
cm_df1 = pd.DataFrame(
    cm1, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
cm_df1

          Predicted 0  Predicted 1
Actual 0           85            7
Actual 1         1117        15996

In [44]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, pred_eec))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.92      0.93      0.13      0.93      0.86        92
   low_risk       1.00      0.93      0.92      0.97      0.93      0.86     17113

avg / total       0.99      0.93      0.92      0.96      0.93      0.86     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.